.row{
    margin-top: 10% !important;
}

a{
    text-decoration: none;
}

.border-0{
    border-radius: 8px !important;
}

.magic-link{
    cursor: pointer !important;
}

.loading-img{
    width: 100px !important;
    height: auto;
}