<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center">
        <div>
          <h4 class="mb-0 font-size-18">Profile</h4>
          <div class="profile-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <img
      src="https://via.placeholder.com/150"
      class="card-img-top p-2"
      alt="Profile Picture"
    />
    <div class="card-body">
      <h5 class="card-title">User Name</h5>
      <p class="card-text">Age: 30</p>
      <p class="card-text">Sex: Male</p>
      <p class="card-text">National ID: 123456789</p>
      <p class="card-text">Age: 30</p>
      <p class="card-text">Sex: Male</p>
      <p class="card-text">National ID: 123456789</p>
      <a class="btn btn-primary mt-3" (click)="openEditUserModal()">Edit Profile</a>
    </div>
  </div>
</div>
